<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <div class="mb-3">
        <label>ID</label>
        <input type="ID" name="ID" class="form-control" placeholder="name">
    </div>
    <div class="mb-3">
        <label>姓名</label>
        <input type="PaName" name="PaName" class="form-control" placeholder="name">
    </div>
        <div class="mb-3">
        <label>性别</label>
        <input type="Gender" name="Gender" class="form-control" placeholder="price">
    </div>
     </div>
        <div class="mb-3">
        <label>科室</label>
        <input type="KName" name="KName" class="form-control" placeholder="Many">
    </div>
     </div>
        <div class="mb-3">
        <label>详情</label>
        <input type="Condition" name="Condition" class="form-control" placeholder="About">
    </div>
         </div>
        <div class="mb-3">
        <label>主治大夫</label>
        <input type="Dr" name="Dr" class="form-control" placeholder="About">
    </div>     </div>
        <div class="mb-3">
        <label>病床号</label>
        <input type="BID" name="BID" class="form-control" placeholder="About">
    </div>
    <button type="submit" class="btn">确认</button>
</form>
</body>
</html>